:host {
  display: flex;
  justify-content: space-around;
}

.orderbook-wapper, .trades-wapper {
  width: 40%;
}

.section-title {
  margin: 0px auto 12px 0px;
  color: gray;

  .mat-icon {
    vertical-align: bottom;
  }
}
