.bids-order {
  color: #E74C3C;
  animation: fadeIn 1s ease 0s 1 normal;
}

.asks-order {
  color: #27AE60;
  animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
